/*=============================================
=            _variables scss file             =
=============================================*/

/*
    @Author: Brian Dunn                           
    @Creation Date: 2-22-2020                     
    @Description: This is the base variables 
        partial scss file. It includes the 
        colors that are used in this site.
*/

$primary-color: blue;
$secondary-color: darkblue;
$ternary-color: lightblue;
$quad-color: black;
$quint-color: white;
$nav-active-color: turquoise;
